@import "tailwindcss";

:root {
  --background: #ffffff;
  --gris: #404336;
  --marron: rgba(169, 110, 57, 0.6);
}

@theme inline {
  --font-vietnam: var(--font-be-vietnam), ui-sans-serif, system-ui, sans-serif;
  --font-alumni: "Alumni Sans SC", sans-serif;
  --color-gris: var(--gris);
  --color-card: var(--marron);
  --drop-shadow-card: 0px 4px 4px rgb(0 0 0 / 0.25);
}

body {
  font-family: var(--font-vietnam);
}
