@import "tailwindcss";

:root {
  --background: #ffffff;
  --gris: #EDEDED;
  --verde-oliva: #4E533D;
}

@theme inline {
  --font-vietnam: var(--font-be-vietnam), ui-sans-serif, system-ui, sans-serif;
  --font-alumni: "Alumni Sans SC", sans-serif;
  --color-card-text: var(--gris);
  --color-card-background: var(--verde-oliva);
}

body {
  font-family:  var(--font-vietnam);
}
